.hidden {display: none;}

main
{   
    font-family: 'Raleway Light';
    display: flex; flex-direction: column;
    font-size: 18px;
    line-height: 21px;

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
        #mainLogo{
            width: 80px;
            margin-top: 15px;
        }
    }

    //Welcome
    .hello {
        height: 400px;
        margin-bottom: 30px;
        background: $blue-background;
        h2, p {
            margin: auto;
            text-align: center;
            color: white;
        }
        h2{
            margin-bottom: 20px;
            font-size: 4em;
            margin-top: 100px;
            font-family: 'Mohave Bold';
            margin-bottom: 40px;
        }

        p{
            padding-right: 30%;
            padding-left: 30%;
            font-size: 1.2em;
            line-height: 26px;
        }
    }

    //Recent Work
    .recentWork {
        width: 100%;
        h2{
            font-family: 'Raleway Bold';
            font-size: 1.7em;
            color: $blue;
            text-align: center;
        }

        @media only screen and (min-width: 780px) {
            width: 1200px;
            margin: 0 auto;
        }
    }

    //About
    .about {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        @media only screen and (min-width: 780px) {
            flex-direction: row;
            justify-content: space-around;
            width: 1200px;
        }
    }
    .pageTitle{
        background: $blue-background;
        padding: 30px 0px;
        width: 100%;
        color: white;
        text-align: center;
        h2 {
            font-family: 'Raleway Bold';
            font-size: 2em;
        }
        h3{
            font-family: 'Mohave Light';
            margin-top: 10px;
        }
    }
}

html {scroll-behavior: smooth;}
